:root {
    --cor-principal: #f25e8d;
}

body {
      font-family: 'Work Sans', sans-serif; 
}

.circulo-navbar {
    color: var(--cor-principal);
}

#titulo-navbar {
    font-weight:bolder;
}

h1 {
    font-size: 2.5rem;
}

#descricao-sobre-mim {
    font-size: 1rem;
}

.circulo-nav {
    width: 82px;
    height: 82px;
    background-color: var(--cor-principal);
}

footer {
    font-size: 13px;
    border-top: 1px solid lightgray;
}

.icone-rede {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .circulo-navbar {
        font-size: 1.1rem;
    }
    
    #titulo-navbar {
        font-size: 1.2rem;
    }

    .item-lista {
        font-size: 1rem;
    }

    #profile {
        width: 300px;
        height: 300px;
    }

    h1 {
        font-size: 2.4rem;
    }
    
    h4 {
        font-size: 1.4rem;
    }
    
    #descricao-sobre-mim {
        font-size: 1.2rem;
    }

    .circulo-nav {
        width: 120px;
        height: 120px;
    }

    .descricao-link {
        font-size: 1.2rem;
    }

    footer {
        font-size: 1rem;
    }

    .icone-rede {
        font-size: 1.3rem;
    }
}


@media (min-width: 768px) {
    .circulo-navbar {
        font-size: 1.2rem;
    }
    
    #titulo-navbar {
        font-size: 1.3rem;
    }

    .item-lista {
        font-size: 1.1rem;
    }

    #profile {
        width: 350px;
        height: 350px;
    }

    h1 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    #descricao-sobre-mim {
        font-size: 1rem;
    }

    .circulo-nav {
        width: 80px;
        height: 80px;
    }

    .descricao-link {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }

    .icone-rede {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
   

    .circulo-navbar {
        font-size: 1.3rem;
    }
    
    #titulo-navbar {
        font-size: 1.4rem;
    }

    .item-lista {
        font-size: 1.2rem;
    }

    #profile {
        width: 400px;
        height: 400px;
    }

    h1 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    #descricao-sobre-mim {
        font-size: 1rem;
    }

    .circulo-nav {
        width: 100px;
        height: 100px;
    }

    .descricao-link {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }

    .icone-rede {
        font-size: 1.5rem;
    }

}

@media (min-width: 1200px) {
  
    h4 {
        font-size: 1.2rem;
    }
    
    #descricao-sobre-mim {
        font-size: 1.1rem;
    }

    .circulo-nav {
        width: 110px;
        height: 110px;
    }

    .descricao-link {
        font-size: 1.2rem;
    }

  
}

@media (min-width: 1400px) {
  
   
    .circulo-navbar {
        font-size: 1.4rem;
    }
    
    #titulo-navbar {
        font-size: 1.5rem;
    }

    .item-lista {
        font-size: 1.3rem;
        margin-right:2rem ;
    }

    #profile {
        width: 550px;
        height: 550px;
    }

    h1 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    #descricao-sobre-mim {
        font-size: 1.2rem;
    }

    .circulo-nav {
        width: 120px;
        height: 120px;
    }

    .descricao-link {
        font-size: 1.3rem;
    }

    footer {
        font-size: 1.3rem;
    }

    .icone-rede {
        font-size: 2rem;
    }

  
}
    


